@page
@model InsuranceAgency.Pages.Agencies.ListModel
@{
}

<h1>
    Sigorta Acenteleri
</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var agency in Model.Agencies)
    {
        <tr>
            <td>@agency.Name</td>
            <td>@agency.Location</td>
            <td>@agency.AgencyType</td>
            <td>
                <a class="btn btn-lg"
                asp-page="./Detail" 
                asp-route-agencyId="@agency.Id">
                    <i class="glyphicon glyphicon-zoom-in"></i>                
                </a>

                <a class="btn btn-lg"
               asp-page="./Edit"
               asp-route-agencyId="@agency.Id">
                    <i class="glyphicon glyphicon-edit "></i>
                </a>
            </td>
        </tr>
    }
</table>
@Model.Message